<!DOCTYPE hmtl>
<html>
  <head>
    <title>Teacher Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <%= yield %>
    <a href="/">Go Home</a>
  </body>
</html>
